body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .right-closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

#mySidenev{
    transition: margin-right .5s;
    padding: 16px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#cdawrap {
    text-align: center;
    width: auto;
    height: auto;
    right: 20px;
    top: 20px;
    position: fixed;
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.05);
    z-index: 1000000;
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 1px 1px 1px 1px;
    font-size: 20px;
    font-weight: 700;
    transition-property: visibility, opacity;
    transition-duration: 0s, 4s;
    
}

#cdawrap.hidden {
   opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 1s, 0s;
    transition-delay: 0s, 1s;
    transition: margin-right .5s;
}